* {
    margin: 0px;
    padding: 0px;
}

.header {
    font-family: 'Segoe Print'; 
}

.title {
    font-family: 'Segoe Print'; 
    font-weight: normal;
    color: #330000;
}

.header .title {
    background-color: #E5CA9A;
    padding: 50px;
    font-weight: bold;
}

.tab {
    margin-top: 20px;
    margin-bottom: 30px; 
} 

.item {
    font-size: 16pt;
    background-color: #330000;
    color: #E5CA9A;
    padding: 20px 5% 20px 5%;
}

.footer {
    background-color: #E5CA9A;
    color: #330000;
    margin-top: 30px;
    padding: 30px;
}

.footer .copyright {
    text-align: right;
}
