* {
    margin: 0px;
    padding: 0px;
}

.header {
    font-family: 'Segoe Print';
    
}

.header .title {
    background-color: #E5CA9A;
    color: #330000;
    padding: 50px;
}

.footer {
    background-color: #E5CA9A;
    color: #330000;
    margin-top: 30px;
    padding: 30px;
}

.footer .copyright {
    text-align: right;
}
